<div class="jumbotron">
    <h1>FCA Web Application</h1>
    <p class="lead">
        FCA Web Application combines the functionality of three individual tools, CGFCA, In-Close and FCA Tree Tool. The basic functionality of the site provides an online and completed solution for processing and visualization of knowledge representation. Website includes simple and well documented functionalities. Below you can find three different type files that the website accepts as uploads. Also, hyperlinks below contain the readme files for CGFCA and In-Close tools.
    </p>
    <div class="row">
        <div class="col-md-2">@Html.ActionLink("CGFCA_README.txt", "DownloadReadMeFile", new { fileName = "CGFCA_README.txt" })</div>
        <div class="col-md-2">@Html.ActionLink("InClose_README.txt", "DownloadReadMeFile", new { fileName = "InClose_README.txt" })</div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>3 Columns CSV</h2>
        <p>A three columns csv file contains a triple relation in each row. Hyperlink below downloads an example file which you can use as upload to the current website tool.</p>
        @Html.ActionLink("business.csv", "DownloadExampleFile", new { fileName = "business.csv" })
    </div>
    <div class="col-md-4">
        <h2>CGIF</h2>
        <p>Conceptual Graph Interchange Format is a common structure document that describes a coneptual graph. Hyperlink below downloads an example file which you can use as upload to the current website tool.</p>
        @Html.ActionLink("2cycles.cgif", "DownloadExampleFile", new { fileName = "2cycles.cgif" })
    </div>
    <div class="col-md-4">
        <h2>CXT</h2>
        <p>Burmeister file is the most common structured FCA file that can be exported from variety of FCA tools. Hyperlink below downloads an example file which you can use as upload to the current website tool.</p>
        @Html.ActionLink("10-FCnoOwn2.cxt", "DownloadExampleFile", new { fileName = "10-FCnoOwn2.cxt" })
    </div>
</div>
