@using FCAWebApplication.Models
@model List<FileModel>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link href="~/Content/TreeTool.css" rel="stylesheet" />
    <title>Generated Files</title>
</head>

<body>
    <br />
    <br />
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>
    <table id="generatedFiles" class="table table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Options</th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            @foreach (FileModel file in Model)
            {
                <tr>
                    <td>@file.FileName</td>

                    <td><button id="preview">Preview</button></td>

                    @*<td>
                        <input value="Preview" type="button" onclick="previewFun('@file.FileName')" />
                    </td>*@
                    <td>@Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })</td>
                </tr>
            }
        </tbody>

    </table>

    <div class="modal fade" id="previewFile" style="width:90%;">
        <div class="modal-dialog" role="document">
            
        </div>
    </div>
    
</body>
</html>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#generatedFiles').DataTable();
        });

        $('#generatedFiles').on('click', '#preview', function () {
            var fileName = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                url: "@Url.Action("PreviewFile", "FCA")",
                data: { id: fileName },
                success: function (data) {
                    $("#previewFile .modal-dialog").html(data);
                    $("#previewFile").modal("show");
                }
            });
        });

    </script>

    <script src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js'></script>

}